* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}

.container1 {
  margin: 0 auto;
}

.container2 {
  padding: 16px;
}

.container3 {
  margin: 0 auto;
  min-width: 600px;
  padding: 16px;
  border-radius: 16px;
  min-height: 553px;
  position: absolute;
  top: 100%;
  left: 30%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #0f766e 0%, #ff9f1c 100%);

  min-height: 50px;
}

#search input {
  min-width: 800px;
  max-height: 36px;
  border-radius: 8px;
  padding: 8px;
  font-size: large;
  background-color: aliceblue;
}

#profile {
  display: flex;
  padding-right: 16px;
  gap: 8px;
}

#profile--avatar {
  padding: 4px;
}

#profile--avatar img {
  border-radius: 100%;
  min-width: 32px;
  max-height: 32px;
}

#main {
  display: flex;
  flex-direction: column;
}

#sidepanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  width: 50px;
  height: 100%;
}

#main--calendar {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  max-width: 100%;
  max-height: 100%;
  contain: content;
}

.main--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px lightgray solid;
  width: inherit;
  min-height: 50px;
}

.heading--left,
.heading--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: aqua; */
  /* border: 1px black solid; */
  gap: 16px;
  height: inherit;
}

#calendar--icon {
  max-width: 32px;
  max-height: 32px;
  background-color: #0f766e;
  border-radius: 4px;
  border: none;
}

#calendar--icon img {
  width: 24px;
  height: 24px;
  filter: invert();
}

#new--meeting {
  background-color: #ff9f1c;
  border-radius: 4px;
  border-style: none;
}

#new--meeting img {
  filter: invert();
}

#new--meeting a {
  color: white;
}

.button--icon {
  height: 16px;
  width: 16px;
}

#main--subheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  height: inherit;
  width: 100%;
}

.calendar--navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.date--picker {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
}

.icon img {
  max-width: 32px;
  max-height: 32px;
}

button {
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 8px;
  height: 32px;
}

button img {
  width: 16px;
  height: 16px;
}

#calendar {
  display: flex;
  background-color: whitesmoke;
}

#calendar--hours {
  display: flex;
  flex-direction: column;
  width: 50px;
  gap: 1px;
}

#calendar--weekdays {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1px;
}

.field {
  display: flex;
  min-height: 100px;
  background-color: white;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  border: lightgrey solid 1px;
  border-radius: 8px;
}

#popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  position: absolute;
  background-color: white;
}

#popup .center {
  text-align: center;
}

.coaching {
  display: flex;
  justify-content: space-between;
}

.typeOfCoach {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.coaching div {
  display: flex;
  gap: 8px;
}

.radio {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: rgb(238, 238, 238);
}

.bus {
  border: #ff9f1c 1px solid;
}

.life {
  border: #0f766e 1px solid;
}

#book{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: auto;
  background-color: #ff9f1c;
  color: white;
  max-width: 250px;
  min-height: 80px;
}

#displaypopup{
  display: none;
}

.selected {
  background-color: gray;
}